
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; padding-top:100px">Chào mừng bạn đến với trang quản trị của Đinh Mạnh</h2>
<p style="text-align:center">Hãy đăng nhập để sử dụng hệ thống</p>

