
@model IEnumerable<ngay8thang3_Complete.Models.CommonModel.BestSaleModels>
@foreach (var item in Model.Take(5))
{
    <div class="card-banner border-bottom">
        <div class="py-3" style="width:80%">
            <h6 class="card-title">@item.TenDongHo</h6>
            <a href="~/DongHoes/Details/?id=@item.ID" class="btn btn-secondary btn-sm"> Chi tiết </a>
        </div>
        <a href="~/DongHoes/Details/@item.ID"><img src="~/@item.HinhAnhDH" height="80" class="img-bg"></a>

    </div>
}